<%= javascript_pack_tag 'file_upload' %>
<h1><%= @purchase_order.title %></h1>
<%# Purchase order details would go here %>

<%# Any Dynamic/React component would go here %>
<%= react_component("Root", {id: @purchase_order.id}) %>